
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f2f5; /* WhatsApp Web background color */
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            background-color: white;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* Light shadow effect */
            text-align: center;
        }

        button {
            background-color: #25D366; /* WhatsApp green */
            color: white;
            padding: 15px 30px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }


        .navbar {
            background-color: #333; /* Dark background color for the navbar */
            width: 200px;
            height: 100%;
            position: fixed;
            left: 0;
            top: 0;
            overflow-y: auto;
            padding-top: 20px;
            transition: width 0.5s; /* Smooth transition for width change */
        }
        
        .navbar a {
            display: block;
            padding: 10px 20px;
            color: white;
            text-decoration: none;
        }
        
        .navbar a:hover {
            background-color: #555; /* Darker background color on hover */
        }


        .navbar.closed {
            width: 0;
        }


        #toggleButton {
            position: absolute;
            top: 20px;
            right: 20px;
            background-color: #333;
            color: white;
            border: none;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
        }
        
        #toggleButton:hover {
            background-color: #555;
        }
        .container {
            background-color: white;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* Light shadow effect */
            text-align: center;
        }

        button:hover {
            background-color: #128C7E; /* Darker shade of WhatsApp green on hover */
        }

        p {
            margin-top: 20px;
            font-size: 18px;
            color: #555;
        }