body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.navbar {
    background-color: #333; /* Dark background color for the navbar */
    width: 200px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    padding-top: 20px;
    transition: width 0.5s; /* Smooth transition for width change */
}

.navbar a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #555; /* Darker background color on hover */
}

.content {
    margin-left: 200px; /* Adjust according to the width of the navbar */
    padding: 20px;
    transition: margin-left 0.5s; /* Smooth transition for margin-left change */
}

.navbar.closed {
    width: 0;
}

.content.closed {
    margin-left: 0;
}

#toggleButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#toggleButton:hover {
    background-color: #555;
}